
DB_Entity_DAL/MedelsDataBase/
DB_Entity_DAL/obj/
web_SellBuy/bin
OperationTools/obj
OperationTools/OperationTools.csproj
OperationTools/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OperationTools/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OperationTools/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
